@model List<Cliente>


<div class="text-center">
        <h1>
            Listar Clientes
        </h1>
</div>

<form method="POST" asp-action="Filtrar">
    <label >Filtrar por :</label>
    <select name="idfiltro">
        <option value="Nombre">Nombre</option>
        <option value="NroDoc">Número de identidad</option>
    </select>
    <input type="text" name="filtro" required>
    <button class="btn btn-primary">Filtrar</button>
</form>
<br>

<div>
    <input type="button" class="btn btn-info" value="Ver todos los clientes" onclick="location.href='@Url.Action("ListarCliente","Cliente")'" >
</div>



<div class="table table-hover table-responsive">
    <table class="table">
        @for(var i=0;i<(Model.Count); i+=2)
        {
            <tr>
                @for(var j=0; j<2; j++){
                    @if(i+j<Model.Count){
                        <td scope="col">
                            <div>                            
                                <br>
                                <h1>
                                    @Html.DisplayFor(modelItem => Model[i+j].Nombre)
                                    
                                </h1>
                                <h1>
                                    @Html.DisplayFor(modelItem => Model[i+j].Apellido)
                                </h1> 
                               
                                <br>
                            </div>
                            <div>
                                Datos: 
                                <br>                           
                                Tipo de documento : @Html.DisplayFor(modelItem => Model[i+j].TipoDoc)
                                <br>
                                Número de documento: @Html.DisplayFor(modelItem => Model[i+j].NroDoc)
                                <br>
                                Dirección: 
                                <br>
                                @Html.DisplayFor(modelItem => Model[i+j].Direccion)
                                <br>
                                Teléfono: 
                                <br>
                                @Html.DisplayFor(modelItem => Model[i+j].Tel)
                                <br>
                                Email: 
                                <br>
                                @Html.DisplayFor(modelItem => Model[i+j].Email)
                                <br>
                                Distrito: @Html.DisplayFor(modelItem => Model[i+j].Distrito.Nombre)
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <button class="btn btn-success"><a asp-action="EditarCliente" asp-route-id="@Model[i+j].Id">Editar</a></button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-warning"  onclick="return confirmarEliminar()"> <a asp-action="BorrarCliente" asp-route-id="@Model[i+j].Id">Borrar</a></button>
                                </div>
                                
                            </div>
                            
                        </td>
                    }                
                }
            </tr>    
        }
    </table>
</div>


    
<div style="text-align: right; margin: 10px" >
    <a asp-action="RegistrarCliente" class="btn btn-primary"> Agregar Nuevo Cliente </a>
</div>
        

<script type="text/javascript">
    function confirmarEliminar(){
        var respuesta = confirm("¿Estás seguro que deseas eliminar al cliente?");
        if(respuesta == true){
            return true;
        }else{
            return false;
        }
    }

</script>



<style>
    a {
    color: #000000;
    text-decoration: none;
}
    a:hover 
{
     color:#000000; 
     text-decoration:none; 
     cursor:pointer;  
}

.center{
    text-align: center;
}
</style>