@model Cliente
@{
    ViewData["title"] = "Registrar Cliente";
}

<h1 class="text-center">@ViewData["title"]</h1>
<div class="container">
    
    <input type="button" class="btn btn-secondary" value="Limpiar campos" onclick="location.href='@Url.Action("RegistrarCliente","Cliente")'" >
    <br><br>
    <form asp-action="RegistrarCliente" id="test-form" method="post">
        <div class="form-group">
            <label asp-for="Nombre">Nombre(s)*:</label>
            <input asp-for="Nombre" placeholder="Nombre(s)" class="form-control" title="Ingrese un dato válido, no se admiten números ni caractéres especiales" class="form-control" required="" pattern="[a-zA-Z]+">
            <small><strong><span asp-validation-for="Nombre" class="text-danger"></span></strong></small>
        </div>
        <div class="form-group">
            <label asp-for="Apellido">Apellido(s)*:</label>
            <input asp-for="Apellido" placeholder="Apellidos(s)" class="form-control" title="Ingrese un dato válido, no se admiten números ni caractéres especiales" class="form-control" required="" pattern="[a-zA-Z]+">
            <small><strong><span asp-validation-for="Apellido" class="text-danger"></span></strong></small>
        </div>
       
        
        <div class="form-group">
            <label asp-for="TipoDoc">Documento*:</label>
            <select asp-for="TipoDoc" class="form-control">
                <option value="Dni">Dni</option>
                <option value="Cne">Cne</option>
            </select>
        </div>
    
    
        <div class="form-group">
            <label asp-for="NroDoc">Numero de Documento*:</label>
            <input asp-for="NroDoc" type="tel" maxlength="8" minlength="8" title="En este campo solo acepta números" pattern="[0-9]+" placeholder="Numero de Documento" class="form-control" required="">
            <small><strong><span asp-validation-for="NroDoc" class="text-danger"></span></strong></small>
        </div>
    
    
        <div class="form-group">
            <label asp-for="Direccion">Dirección*:</label>
            <input asp-for="Direccion" placeholder="Dirección" class="form-control" required="">
            
        </div>
    
        
    
        <div class="form-group">
            <label asp-for="Tel">Teléfono*:</label>
            <input asp-for="Tel" type="tel" placeholder="Numero de telefono" class="form-control" title="Ingrese un número válido (teléfono o celular)" pattern="[0-9]+" maxlength="9" minlength="7" required="">
           
        </div>

        <div class="form-group">
                <label asp-for="Distrito">Distrito*:</label>
                <select asp-for="DistritoId" asp-items="ViewBag.Distrito" class="form-control"></select>
        </div>

        <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" placeholder="Correo electronico" class="form-control">
        <small><strong><span asp-validation-for="Email" class="text-danger"></span></strong></small>
        </div>

        <div>
        
        @if(ViewBag.Message != null){
            <script type="text/javascript">
                   alert("@ViewBag.Message");
            </script>
        }

        <button type="submit" class="btn btn-info" >Registrar</button>
    </form>
    
        <input type="button" class="btn btn-info" value="Inicio" onclick="location.href='@Url.Action("Index","Home")'" >

        <input type="button" class="btn btn-info" value="Ver Lista de Clientes" onclick="location.href='@Url.Action("ListarCliente","Cliente")'" >
        </div>   
</div>