@model Ticket

<div class="container">
    <h1 class="text-center">
        Revisa el estado de mis prendas
    </h1>
    @if(ViewBag.Peticion){
        <form action="" method="get">
            <div class="form-group">
                <label for="">Numero de boleta: </label>
                <input asp-for="TkNroBoleta" class="form-control">
                <small>@Html.ValidationMessageFor(m=>m.TkNroBoleta)</small>
            </div>
            <div class="text-center">
                <input type="submit" value="Buscar" class="btn btn-info">
                <button class="btn btn-warning">Volver</button>
            </div>
        </form>
    }else{
        <form action="" method="POST">
            <div class="form-group">
                <label> Numero de boleta: </label>
                <label> @ViewBag.NUMEROBOLETA</label>
            </div>
            <div class="form-group">
                <label> Cliente: </label>
                <label> @ViewBag.CLIENTE</label>
            </div>
            <div class="form-group">
                <label> Precio Total: </label>
                <label> @ViewBag.PRECIOTOTAL</label>
            </div>
            <div class="form-group">
                <label> Fecha de entrega: </label>
                <label> @ViewBag.FECHAENTREGA</label>
            </div>
            <div class="form-group">
                <label> Estado: </label>
                <label> @ViewBag.ESTADOS</label>
            </div>
            <div class="text-center">
                <button class="btn btn-warning">Volver</button>
            </div>
        </form>
    }
</div>

<script>
    function alerta(){
        alert("Estado cambiado con exito!")
    }
</script>